    .ann{
      /*按钮*/
      display:block;
      position:absolute;
      padding:8% 0px;
      width:40%;
      border:2px solid #00a8bf;
      border-radius:18px;
      text-align:center;
      font-size:115%;
      margin-bottom:50px;
      box-shadow: 4px 7px 5px lightgray;
      }
      body
      {
      /*背景*/
      background-image: linear-gradient(#5eddff,white, white);
      background-repeat:repeat-x;
      background-attachment:fixed;
      margin:0;
      padding:0;
      }
      .smallfontc{
      /*居中小字*/
      text-align:center;
      color:gray;
      font-size:80%;
      }

      @font-face
      {
      /*字体帅*/
      font-family:core;
      src: url('hord.ttf')
      }

       a:link {text-decoration:none;} /* 点击前 */
       a:visited {text-decoration:none;} /* 点击后 */
       a:hover {text-decoration:none;} /* 鼠标移到 */
       a:active {text-decoration:none;} /* 点击时 */
       .d1
       {
       /*总动画*/
       position:relative;
       animation:db 1s;
       }
       @keyframes db
       {
       /*总动画*/
       0% {opacity:0; top:450px;}
       100% {opacity:1; top:0px;}
       }
    /**
    *_______________#########_______________________
    *______________############_____________________
    *______________#############____________________
    *_____________##__###########___________________
    *____________###__######_#####__________________
    *____________###_#######___####_________________
    *___________###__##########_####________________
    *__________####__###########_####_______________
    *________#####___###########__#####_____________
    *_______######___###_########___#####___________
    *_______#####___###___########___######_________
    *______######___###__###########___######_______
    *_____######___####_##############__######______
    *____#######__#####################_#######_____
    *____#######__##############################____
    *___#######__######_#################_#######___
    *___#######__######_######_#########___######___
    *___#######____##__######___######_____######___
    *___#######________######____#####_____#####____
    *____######________#####_____#####_____####_____
    *_____#####________####______#####_____###______
    *______#####______;###________###______#________
    *________##_______####________####______________
    Miku保佑，永无bug*/